<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Accueil - SAAFT</title>
        <!-- jQuery library (served from Google) -->
        <script type="text/javascript" src="/assets/js/jquery-1.11.1.min.js"></script>
        <!-- bxSlider Javascript file -->
        <script type="text/javascript" src="/assets/js/jquery.bxslider.min.js"></script>
        <!-- bxSlider CSS file -->
        <link type="text/css" rel="stylesheet" href="/assets/css/jquery.bxslider.css"/>
        <link type="text/css" rel="stylesheet" href="/assets/css/styleFront.css"/>
        <!--<link href='http://fonts.googleapis.com/css?family=Lato:100,400,700,900' rel='stylesheet' type='text/css'>-->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    </head>

    <body>
        <header>
            <div class="container">
                <img class="logo" src="/assets/img/logov2.png">
                <div class="right">
                    <a href="/connexion" class="btn">Connexion</a><a href="#" class="btn btn1">Inscription</a>
                </div>
            </div>
            <div class="baseline">
                <h1>Sécurisez vos locaux avec SAAFT !</h1>
                <p>Une technologie dernier cri basée sur un système de drone autoguidé muni de video surveillance pour protéger vos locaux.</p>

            </div>

        </header>

        <div class="content">
            <div class="container">
                <div class="fonction">
                    <div class="service service1"><span class="icon"><i class="fa fa-bell-o fa-4"></i></span><span class="icontxt"> Surveillance</span></div>
                    <div class="service service2"><span class="icon"><i class="fa fa-camera-retro"></i></span><span class="icontxt"> Video capture</span></div>
                    <div class="service service3"><span class="icon"><i class="fa fa-coffee"></i></span><span class="icontxt"> Fiabilité</span></div>
                </div>
                <div class="temoignage">
                    <h2>Les témoignages</h2>
                    <div class="bloc">
                        <div class="left"><img class="picture" src="/assets/img/Front/avis.jpg"><p class="name">Julien O.</p></div><p class="avis">" Super outil qui m'a permis de faire gagner du temps et de l'argent. 100% Securité ! "<img src="/assets/img/Front/rate1.png"></p> </div>
                    <div class="bloc1"><div class="left"><img class="picture" src="/assets/img/Front/avis1.jpg"><p class="name">Helène M.</p></div><p class="avis">" Ce service m'a permis de sécuriser efficacement mes entrepots ! "<img src="/assets/img/Front/rate1.png"></p></div>
                    <div class="bloc"><div class="left"><img class="picture" src="/assets/img/Front/avis2.jpg"><p class="name">Stéphanie G.</p></div><p class="avis">" Service très efficace, je recommande fortement ! Je l'utilise depuis 1 an. "<img src="/assets/img/Front/rate1.png"></p></div>
                    <div class="bloc1"><div class="left"><img class="picture" src="/assets/img/Front/avis3.jpg"><p class="name">Maxime B.</p></div><p class="avis">" Outil de qualité tant par la qualité de ses informations que pour son efficacité ! "<img src="/assets/img/Front/rate1.png"></p></div>
                </div>
            </div>
        </div>

        <footer>
            <h2>Inscrivez-vous</h2>
            <div class="center">
                <input type="txt" placeholder="Renseignez votre adresse mail"><a class="btn btn1">S'inscrire</a>
            </div>
        </footer>

    </body>
</html>