<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap-theme.min.css"/>
        <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="/assets/css/style.css"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,400,700,900' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="container backoffice">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <img class="col-md-12 col-xs-12 img-responsive nopadding" src="/assets/img/Login/bg.png"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="zoom">
                            <div class="icons">
                                <img src="/assets/img/backoffice/zoom+.png"/>
                                <img src="/assets/img/backoffice/zoom-.png"/>
                            </div>
                        </div>
                        <div class="map">

                        </div>
                        <div class="col-md-12 onglets">
                            <div class="single arrow inactive">
                                <img src="/assets/img/backoffice/arrow.png"/>
                            </div>
                            <div class="single active information">
                                <img src="/assets/img/backoffice/informations.png"/>
                                INFORMATIONS
                            </div>
                            <div class="single inactive historique">
                                <img src="/assets/img/backoffice/historique.png"/>
                                HISTORIQUE
                            </div>
                            <div class="single inactive parcours">
                                <img src="/assets/img/backoffice/parcours.png"/>
                                PARCOURS
                            </div>
                        </div>
                        <div class="action">
                            <img src="/assets/img/backoffice/play.png"/>
                            <img src="/assets/img/backoffice/stop.png"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="dashboard col-md-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 information onglet-content">
                                    <div class="col-md-2 col-xs-6 rubrique">
                                        <div class="col-md-12 content">
                                            <h2 class="col-md-offset-1 col-md-8">
                                                VITESSE
                                            </h2>
                                            <div class="speed">
                                                <div class="global-line">
                                                    <div class="cursor" style="left: 20%;"></div>
                                                    <div class="line" style="width: 20%;"></div>
                                                </div>
                                            </div>
                                            <div class="infos">
                                                <span class="big">1</span>,46 m/s
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-6 rubrique">
                                        <div class="col-md-12 content">
                                            <h2 class="col-md-offset-1 col-md-9">
                                                ALTITUDE
                                            </h2>
                                            <div class="altitude">
                                                <div class="global-line">
                                                    <div class="cursor" style="bottom: 75%;"></div>
                                                    <div class="line" style="height: 75%;"></div>
                                                </div>
                                            </div>
                                            <div class="infos">
                                                <span class="big">1</span>,46 m
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12 rubrique inclinaison">
                                        <div class="col-md-12 content">
                                            <h2 class="col-md-offset-4 col-md-4">
                                                INCLINAISON
                                            </h2>
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <img src="/assets/img/backoffice/image1.png">
                                                    <img id="fly" src="/assets/img/backoffice/image1.1.png"> 
                                                    <div class="infos">
                                                        46°
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="/assets/img/backoffice/image3.png">
                                                    <div class="infos">
                                                        46°
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="/assets/img/backoffice/image2.png">
                                                    <img id="fly2" src="/assets/img/backoffice/image2.1.png"> 
                                                    <div class="infos">
                                                        46°
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-12 rubrique">
                                        <div class="col-md-12 content nopadding batterie">
                                            <h2 class="col-md-offset-1 col-md-9">
                                                BATTERIE
                                            </h2>
                                            <div class="infos">
                                                39%
                                            </div>
                                        </div>
                                        <div class="col-md-12 content nopadding distance">
                                            <h2 class="col-md-11">
                                                DISTANCE PARCOURUE
                                            </h2>
                                            <div class="infos">
                                                46%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12 historique onglet-content">
                                    
                                </div>
                                <div class="col-md-12 col-xs-12 parcours onglet-content">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/assets/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/script.js"></script>
        <script type="text/javascript" src="/assets/js/jQueryRotate.js"></script>
    </body>
</html>
