<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/public/javascript/socket.io.js"></script>
        <script src="/public/javascript/webSocket.js"></script>
    </head>
    <body>
        Batterie = <span id="batterie"></span>%<br>
        Altitude = <span id="altitude"></span>
        Vélocité = <span id="velocity"></span>
        <div id="test"></div>
    </body>
</html>